  <header class="supsub-header">
    <div class="logo"><img src="{{ logo_uri }}" width="22" height="16" alt="SupSub">SUPSUB</div>
    <div class="hair-line"></div>
    <div class="meta">{{ meta_label }}&nbsp;&nbsp;·&nbsp;&nbsp;<strong>N°&nbsp;{{ meta.issue_no }}</strong>{% if show_date %}&nbsp;&nbsp;·&nbsp;&nbsp;{{ meta.date }}{% endif %}</div>
  </header>
  <div class="sub-bar">
    <span>{{ sub_left }}</span>
    <span class="rating">{{ sub_right }}</span>
  </div>
